/*
    primary-color: #0065cb;
    secondry-color: #d84141;
*/





/*=======================================================
============ Global Properties
========================================================*/
.page-title{
    margin-top: 7rem;
}

@media (max-width: 768px) {
    .page-title{
        margin-top: 12rem;
    }
}
.service-section {
    padding: 0px;
}

.section-padding {
    padding: 120px 0px;
}

.section-margin {
    margin: 120px 0px;
}

@media (max-width: 768px) {
    .d-none-md {
        display: none !important;
    }

    .d-block-md {
        display: block !important;
    }
}

@media (min-width: 769px) {
    .d-none-md {
        display: block !important;
    }

    .d-block-md {
        display: none !important;
    }
}

/*==== is-invalid ====*/
input.is-invalid,
textarea.is-invalid{
    border-color: #dc3545 !important;
}
input.is-invalid:focus,
textarea.is-invalid:focus{
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}




/*=======================================================
============ layout
========================================================*/
.menu-right-content {
    position: relative;
}

.menu-right-content input {
    border: 2px solid #0065cb5e;
    padding: 7px 10px 7px 20px;
    border-radius: 50px;
    min-width: 320px;
}

.menu-right-content i {
    padding-top: 5px;
    color: rgb(75, 75, 75);
}

/*=== NavBar ===*/
.main-header .main-menu .navigation>li>a.theme-btn-one {
    padding: 10px;
    margin-top: -10px;
}

.main-header.style-four .header-lower .main-menu .navigation>li {
    padding: 0px !important;
}


/*=== Absolute-Icons ===*/

#absolute-icons .contact-icons .box{
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    z-index: 999999999;
}
#absolute-icons .contact-icons .box.patient{
    bottom: 12%;
}
#absolute-icons .contact-icons .box.doctor{
    bottom: 3%;
}
#absolute-icons .contact-icons .discription{
    position: relative;
    margin-right: 20px;
    opacity: 0;
    background-color: #33333396;
    color: #fff;
    padding: 3px;
    border-radius: 5px 0px 0px 5px;
    transition: all 0.5s ease-in-out;
}
#absolute-icons .contact-icons .discription::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0px;
    right: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #33333396;
}
#absolute-icons .contact-icons .box:hover .discription {
    opacity: 1;
}
#absolute-icons .contact-icons a {
    display: block;
    margin: 20px 0px;
    background-color: #0065cb;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #000000db;
}

/*====== Responsive ========*/
@media (max-width: 576px) {
    #absolute-icons .contact-icons a {
        padding: 12px 18px;
        font-size: 18px;
    }
}






/*=======================================================
============ service-Block
========================================================*/
.service-block-one .inner-box h4 {
    height: 50px;
}







/*=======================================================
============ Login Page
========================================================*/
.error-section .inner-box h2 {
    font-size: 80px;
    font-weight: 700;
    color: #0065cb;
}

.error-section .inner-box input {
    padding: 12px !important;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #0065cb
}

.error-section .inner-box label {
    color: rgb(24, 24, 24);
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: 20px;
    font-weight: 600;
}

.error-section .inner-box label i {
    color: #0065cb;
}


/*=======================================================
============ Submission Page
========================================================*/
#submission-page .error-section .inner-box h1 {
    font-size: 160px;
}

#submission-page .error-section .inner-box h2 {
    font-size: 46px;
}


/*=======================================================
============ Location Page
========================================================*/
.google-map-section a.theme-btn-two {
    background-color: black !important;
    color: #fff !important;
    border-radius: 15px;
    padding: 7px 15px;
}

.image-box iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 18px 3px #b3b3b3bd;
}






/*=======================================================
============ Mob Sidebar
========================================================*/
.mobile-menu .menu-box {
    background: #0065cb !important;
}







/*=======================================================
============ Service
========================================================*/
.event-details-content .content-one .image img{
    border-radius: 20px;
    animation-name: up-down-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes up-down-animation {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
  }

.service-summary {
    font-size: 14px;
    line-height: 18px;
}

.event-details img {
    box-shadow: 0px 0px 18px 3px #d0d0d0bd;
}

.pad-service {
    padding-top: 180px;
}




/*=======================================================
============ Location Search
========================================================*/
.location-search{
    background-color: #0065cb;
}

.location-search.cta-section .inner-box .title {
    color: #fff;
    font-weight: 600;
    font-size: 34px;
}
.location-search .input-box{
  position: relative;
  height: 55px;
  max-width: 55px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.location-search .input-box.open{
  max-width: 350px;
}
.location-search input{
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}
.location-search .input-box.open{
  padding: 0 15px 0 65px;
}
.location-search .icon{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.location-search .fa-magnifying-glass,
.location-search .fa-xmark{
  position: absolute;
  top: 50%;
  font-size: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.location-search .fa-magnifying-glass{
  color: #0065cb;

  transform: translateY(-50%) rotate(90deg);
}
.location-search .input-box.open .fa-magnifying-glass{
  transform: translateY(-50%) rotate(0);
}
.location-search .fa-xmark{
  right: -63px;
  color: #0065cb;
  border-radius: 6px;
  background: #fff;
  padding: 12px 18px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}
@media (max-width: 576px) {
    .location-search .fa-xmark{
        display: none;
    }
}
.location-search .input-box.open .fa-xmark{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}


/*=======================================================
============ Footer
========================================================*/
.footer-top .logo-widget .footer-logo .logo {
    max-width: inherit;
}
.copyright a{
    text-decoration: underline;
}
.footer-top .logo-widget .footer-logo .logo img {
    width: 280px !important;
}
.main-footer hr{
    width: 80%;
    height: 1px;
    margin: 0px auto;
    margin-top: -15px;
}
.main-footer .social-links{
    text-align: center;
}
.main-footer .social-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-footer .social-links ul li{
    padding: 10px;
}
.main-footer .social-links ul li a{
    font-size: 22px;
    color: #0065cb;

}
/*=== RESPONSIVE ===*/
@media only screen and (max-width: 1200px) {
    .menu-area .mobile-nav-toggler {
        display: block;
        padding: 15px 10px;
        border-radius: 5px;
    }
}
