/*
    primary-color: #0065cb;
    secondry-color: #d84141;
*/





/*=======================================================
============ Global Properties
========================================================*/
.page-title{
    margin-top: 7rem;
}
@media (max-width: 768px) {
    .page-title{
        margin-top: 12rem;
    }
}
.service-section {
    padding: 0px;
}

.section-padding {
    padding: 120px 0px;
}

.section-margin {
    margin: 120px 0px;
}

@media (max-width: 768px) {
    .d-none-md {
        display: none !important;
    }

    .d-block-md {
        display: block !important;
    }
}

@media (min-width: 769px) {
    .d-none-md {
        display: block !important;
    }

    .d-block-md {
        display: none !important;
    }
}

/*==== is-invalid ====*/
input.is-invalid,
textarea.is-invalid{
    border-color: #dc3545 !important;
}
input.is-invalid:focus,
textarea.is-invalid:focus{
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}




/*=======================================================
============ layout
========================================================*/
.menu-right-content {
    position: relative;
}

.menu-right-content input {
    border: 2px solid #0065cb5e;
    padding: 7px 10px 7px 20px;
    border-radius: 50px;
    min-width: 320px;
}

.menu-right-content i {
    padding-top: 5px;
    color: rgb(75, 75, 75);
}

/*=== NavBar ===*/
.main-header .main-menu .navigation>li>a.theme-btn-one {
    padding: 10px;
    margin-top: -10px;
}

.main-header.style-four .header-lower .main-menu .navigation>li {
    padding: 0px !important;
}


/*=== Absolute-Icons ===*/
#absolute-icons .fa-arrow-alt-circle-up {
    z-index: 999;
    cursor: pointer;
    color: #2a8e82;
    font-size: 50px;
    position: fixed;
    bottom: 10%;
    right: 2%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#absolute-icons .contact-icons {
    z-index: 999999999;
    position: fixed;
    bottom: 5%;
    right: 20px;
}

#absolute-icons .contact-icons a {
    display: block;
    margin: 20px 0px;
    background-color: #0065cb;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #000000db;
}


/*====== Responsive ========*/
@media (max-width: 576px) {
    #absolute-icons .contact-icons a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

}

/*=======================================================
============ service-Block
========================================================*/
.service-block-one .inner-box h4 {
    height: 50px;
}





/*=======================================================
============ Location Search
========================================================*/

.location-search input {
    padding: 12px !important;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(225, 225, 225) !important;
    font-size: 20px;
    border: 1px solid rgb(225, 225, 225);
}

.location-search input::-webkit-input-placeholder {
    color: rgb(150, 150, 150) !important;
}

.location-search input:focus {
    background-color: transparent;
    border: 1px solid #0065cb;
    color: rgb(150, 150, 150) !important;
}

.location-search button {
    border: 1px solid rgb(225, 225, 225) !important;
    height: 100%;
    font-size: 18px;
}

.location-search.cta-section .inner-box {
    border-radius: 0px;
}

.location-search.cta-section .inner-box .title {
    color: #fff;
    font-weight: 600;
    font-size: 34px;
}



/*=======================================================
============ Login Page
========================================================*/
.error-section .inner-box h2 {
    font-size: 80px;
    font-weight: 700;
    color: #0065cb;
}

.error-section .inner-box input {
    padding: 12px !important;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #0065cb
}

.error-section .inner-box label {
    color: rgb(24, 24, 24);
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: 20px;
    font-weight: 600;
}

.error-section .inner-box label i {
    color: #0065cb;
}


/*=======================================================
============ Submission Page
========================================================*/
#submission-page .error-section .inner-box h1 {
    font-size: 160px;
}

#submission-page .error-section .inner-box h2 {
    font-size: 46px;
}


/*=======================================================
============ Location Page
========================================================*/
.google-map-section a.theme-btn-two {
    background-color: black !important;
    color: #fff !important;
    border-radius: 15px;
    padding: 7px 15px;
}

.image-box iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 18px 3px #b3b3b3bd;
}






/*=======================================================
============ Mob Sidebar
========================================================*/
.mobile-menu .menu-box {
    background: #0065cb !important;
}







/*=======================================================
============ Service
========================================================*/
.service-summary {
    font-size: 14px;
    line-height: 18px;
}

.event-details img {
    box-shadow: 0px 0px 18px 3px #d0d0d0bd;
}

.pad-service {
    padding-top: 180px;
}




/*=======================================================
============ Footer
========================================================*/
.footer-top .logo-widget .footer-logo .logo {
    max-width: inherit;
}

.footer-top .logo-widget .footer-logo .logo img {
    width: 280px !important;
}

/*=== RESPONSIVE ===*/
@media only screen and (max-width: 1200px) {
    .menu-area .mobile-nav-toggler {
        display: block;
        padding: 15px 10px;
        border-radius: 5px;
    }
}
