/*
    primary-color: #0065cb;
    secondry-color: #d84141;
*/





/*=======================================================
============ Global Properties
========================================================*/
.mt-7{
    margin-top: 7rem;
}
.service-section{
    padding: 0px;
}
.section-padding{
    padding: 120px 0px;
}








/*=======================================================
============ Mob Sidebar
========================================================*/
.mobile-menu .menu-box{
    background:  #0065cb !important;
}







/*=======================================================
============ Service
========================================================*/
.service-summary{
    font-size: 14px;
    line-height: 18px;
}
.event-details img {
    box-shadow: 0px 0px 18px 3px #d0d0d0bd;
}





/*=======================================================
============ Footer
========================================================*/
.footer-top .logo-widget .footer-logo .logo{
    max-width: inherit;
}
.footer-top .logo-widget .footer-logo .logo img{
    width: 280px !important;
}
/*=== RESPONSIVE ===*/
@media only screen and (max-width: 1200px){
    .menu-area .mobile-nav-toggler {
        display: block;
        padding: 15px 10px;
        margin-top: 15px;
        border-radius: 5px;
    }
}
